.wave-banner-content{
    position: absolute;
    left: 5%;
    right: 0;
    bottom: 12rem;
}

/* For small screens */
@media screen and (max-width: 767px) {
    .wave-banner-content{
        left: 1rem;
        right: 0;
        bottom: 1.5rem;
    }
    .wave-banner-content .content-text{
        width: 90%;
    }
    .wave-banner-content .content-image{
        width: 52%;
        position: absolute;
        top: -7.5rem;
        right: 0;
    }
}

@media screen and (min-width: 400px) and (max-width: 767px){
    .wave-banner-content{
        left: 1rem;
        right: 0;
        bottom: 4rem;
    }
    .wave-banner-content .content-text{
        width: 90%;
    }
    .wave-banner-content .content-image{
        width: 55%;
        position: absolute;
        top: -9rem;
        right: 0;
    }
}
