*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: unset !important; /* Disable default smooth scrolling in Bootstrap */
}
body {
    font-family: "Poppins", sans-serif;
}
/* ----------------------------------------------- */

/* Banner Start */
.banner{
    position: relative;
}
.banner img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.banner .logo img{
    width: 80px;
    height: auto;
    position: absolute;
    top: 1rem;
    left: 5%;
}
.banner .banner-content{
    position: absolute;
    bottom: 1rem;
    left: 5%;
}
.banner .banner-content h1{
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: calc(2rem + 0.5vw);
    margin: 0;
}

/* For small screens */
@media screen and (max-width: 767px) {
    .banner img {
        height: auto;
    }
    .banner .logo img{
        width: 60px;
        top: 1rem;
        left: 1rem;
    }
    .banner .banner-content{
        bottom: 0.2rem;
        left: 1rem;
    }
    .banner .banner-content h1{
        font-size: calc(1.2rem + 0.5vw);
    }
}
/* Banner End */

/* Wave Banner Start */
.wave-banner{
    position: relative;
    overflow: hidden;
}
.wave-banner img{
    width: 100%;
}
.wave-banner .signup-text{
    position: absolute;
    top: 1rem;
    left: 5%;
}
.wave-banner .signup-text p{
    color: #d6d6d6;
    width: 45%;
    font-size: calc(0.55rem + 0.5vw);
}
.wave-banner .signup-text button{
    font-size: calc(0.6rem + 0.5vw);
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    color: #fff;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #002b74;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #727272;
    border-right: 1px solid #727272;
    border-left: 1px solid #dfdfdf;
    margin-right: 1rem;
    transition: all 0.5s ease;
}
.wave-banner .signup-text button:hover{
    box-shadow: 0 0 13px #003898;
    border-top: 2px solid #7f7f7f;
    border-bottom: 2px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #7f7f7f;
}

.wave-banner-content{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: -10rem;
    display: flex;
    justify-content: space-between;
}
.wave-banner-content .content-text{
    width: 47%;
}
.wave-banner-content .content-text h2{
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: calc(2rem + 0.5vw);
    margin: 0;
    margin-top: 6rem;
}
.wave-banner-content .content-text p{
    color: #fff;
    font-size: calc(0.55rem + 0.5vw);
    margin-top: 1.9rem;
    width: 80%;
}
.wave-banner-content .content-image{
    width: 50%;
}
.wave-banner-content .content-image img{
    width: 100%;
}

/* For small screens */
@media screen and (max-width: 767px) {
    .wave-banner .signup-text{
        top: 0.3rem;
        left: 1rem;
    }
    .wave-banner .signup-text p{
        width: 75%;
        font-size: calc(0.6rem + 0.5vw);
    }
    .wave-banner .signup-text button{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 0.1rem;
        padding: 0.35rem 1.6rem;
        margin-right: 0.5rem;
    }

    .wave-banner-content{
        left: 1rem;
        right: 1rem;
        bottom: -1.5rem;
    }
    .wave-banner-content .content-text{
        width: 63%;
    }
    .wave-banner-content .content-text h2{
        font-size: calc(1.2rem + 0.5vw);
        margin-top: 0;
    }
    .wave-banner-content .content-text p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.5rem;
        width: 100%;
    }
    .wave-banner-content .content-image{
        width: 35%;
    }
}
/* Wave Banner End */

/* Why Choose Us Start */
.why-choose-us{
    padding: 1rem 5% 0 5%;
    /* background-color: #0c031b; */
    background: linear-gradient(to bottom, #0c031b 0%, #0d0325 110%);
    position: relative;
}
.why-choose-us h2{
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: calc(2rem + 0.5vw);
    margin: 0;
}
.why-choose-us h2 b{
    font-weight: 600;
}
.choose-us-card-row{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.choose-us-card-row .choose-us-card{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 33%;
}
.choose-us-card-row .choose-us-card h3{
    color: rgb(109, 109, 109);
    font-weight: 200;
    font-size: calc(2rem + 0.5vw);
    margin: 0;
}
.choose-us-card-row .choose-us-card h4{
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: calc(1.1rem + 0.5vw);
    margin: 0;
    margin-top: 2.2rem;
}
.choose-us-card-row .choose-us-card p{
    color: #d6d6d6;
    font-size: calc(0.55rem + 0.5vw);
    margin-top: 0.7rem;
}

.blur-effect img{
    position: absolute;
}
.blur-effect #blur-1{
    top: -22rem;
    left: 0;
    width: 250px;
}
.blur-effect #blur-2{
    top: 10%;
    right: 0;
    width: 200px;
}

/* For small screens */
@media screen and (max-width: 767px) {
    .why-choose-us{
        padding: 1rem 1rem 0 1rem;
    }
    .why-choose-us h2{
        font-size: calc(1.2rem + 0.5vw);
    }
    .choose-us-card-row{
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;
    }
    .choose-us-card-row .choose-us-card{
        gap: 0.5rem;
        width: 90%;
        margin-bottom: 1rem;
    }
    .choose-us-card-row .choose-us-card h3{
        font-size: calc(1.7rem + 0.5vw);
    }
    .choose-us-card-row .choose-us-card h4{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 2.2rem;
    }
    .choose-us-card-row .choose-us-card p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.5rem;
    }

    .blur-effect #blur-1{
        top: -11rem;
        width: 130px;
    }
    .blur-effect #blur-2{
        top: 16%;
        width: 170px;
    }
}
/* Why Choose Us End */

/* Investment Options Start */
.investment img{
    width: 100%;
}
/* Investment Options End */